body{
    margin: 0;
    text-align: center;
}
h1{
    margin-top: 0;
}
.top1{
        background-color: #E4F9F5;
}
.top2{
    background-color: rgb(229, 241, 229);
    
}
.top3{
    background-color: black;
    
    
}
